.s-btn-ghost:link,
.s-btn-ghost:visited {
  cursor: pointer;
  border-radius: 10px;
  text-decoration: none;
  background-color: #eee;
  color: #333;
  transition: background-color .5s, border .5s, color .5s;
}

.s-btn-ghost:hover,
.s-btn-ghost:active {
  background-color: #f1c40f;
  color: #333;
}