html, body {
    color: #7d7d7d;
    background-color: #f8f8f8;
    margin: 0;
    padding: 0;
}

.box {
    background-color: #fff;
    border: 1px solid #e6e6e6;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
}

.grid {
    width: 75%;
    margin: auto;
}

.pull-left {
    float: left;
}

.pull-right {
    float: right;
}

.custom-checkbox {
    cursor: pointer;
}

.clear {
    clear: both;
}

.custom-checkbox input ~ .custom-control-indicator {
    border: #d3ccc8 solid 1px !important;
    border-radius: 0 !important;
    width: 22px;
    height: 22px;
    outline: none !important;
    box-shadow: none !important;
    background-color: #fff !important;
}

.custom-checkbox:hover .custom-control-indicator {
    border: #fdc600 solid 1px !important;
}

.custom-checkbox input:checked ~ .custom-control-indicator {
    background-color: #fdc600 !important;
    border: #fdc600 solid 1px !important;
}

.custom-checkbox .custom-control-description {
    padding-left: 5px;
    padding-top: 2px;
}

.form-control:focus {
    box-shadow: none !important;
    border-color: #fdc600;
}

.btn, .btn:focus, .btn:active {
    border-radius: 1px;
    box-shadow: none !important;;
}

.btn-primary {
    background-color: #fdc600;
    border-color: #fdc600;
}

.btn-primary:hover {
    background-color: #FDB01A;
    border-color: #FDB01A;
}

.btn-primary:active, .btn-primary.active {
    background-color: #FD9F25 !important;;
    border-color: #FD9F25 !important;;
}