::-webkit-scrollbar {
    width: 4px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #fce4ec;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #f06292;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #c2185b;
  }